.calendar {
  display: grid;
  grid-template-columns: repeat(7, 0fr);
  gap: 20px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .calendar {
    grid-template-columns: repeat(2, 1fr);
  }
}
